---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

In [2]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind

# Assignment 4 - Hypothesis Testing
This assignment requires more individual learning than previous assignments - you are encouraged to check out the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) to find functions or methods you might not have used yet, or ask questions on [Stack Overflow](http://stackoverflow.com/) and tag them as pandas and python related. And of course, the discussion forums are open for interaction with your peers and the course staff.

Definitions:
* A _quarter_ is a specific three month period, Q1 is January through March, Q2 is April through June, Q3 is July through September, Q4 is October through December.
* A _recession_ is defined as starting with two consecutive quarters of GDP decline, and ending with two consecutive quarters of GDP growth.
* A _recession bottom_ is the quarter within a recession which had the lowest GDP.
* A _university town_ is a city which has a high percentage of university students compared to the total population of the city.

**Hypothesis**: University towns have their mean housing prices less effected by recessions. Run a t-test to compare the ratio of the mean price of houses in university towns the quarter before the recession starts compared to the recession bottom. (`price_ratio=quarter_before_recession/recession_bottom`)

The following data files are available for this assignment:
* From the [Zillow research data site](http://www.zillow.com/research/data/) there is housing data for the United States. In particular the datafile for [all homes at a city level](http://files.zillowstatic.com/research/public/City/City_Zhvi_AllHomes.csv), ```City_Zhvi_AllHomes.csv```, has median home sale prices at a fine grained level.
* From the Wikipedia page on college towns is a list of [university towns in the United States](https://en.wikipedia.org/wiki/List_of_college_towns#College_towns_in_the_United_States) which has been copy and pasted into the file ```university_towns.txt```.
* From Bureau of Economic Analysis, US Department of Commerce, the [GDP over time](http://www.bea.gov/national/index.htm#gdp) of the United States in current dollars (use the chained value in 2009 dollars), in quarterly intervals, in the file ```gdplev.xls```. For this assignment, only look at GDP data from the first quarter of 2000 onward.

Each function in this assignment below is worth 10%, with the exception of ```run_ttest()```, which is worth 50%.

In [3]:
# Use this dictionary to map state names to two letter acronyms
states = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 'IL': 'Illinois', 'TN': 'Tennessee', 'DC': 'District of Columbia', 'VT': 'Vermont', 'ID': 'Idaho', 'AR': 'Arkansas', 'ME': 'Maine', 'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 'GU': 'Guam', 'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 'NH': 'New Hampshire', 'MA': 'Massachusetts', 'GA': 'Georgia', 'ND': 'North Dakota', 'VA': 'Virginia'}

In [4]:
data = pd.read_table('university_towns.txt', header = None)
print(data.head())

                                                 0
0                                    Alabama[edit]
1                    Auburn (Auburn University)[1]
2           Florence (University of North Alabama)
3  Jacksonville (Jacksonville State University)[2]
4       Livingston (University of West Alabama)[2]

In [5]:
def get_list_of_university_towns():
    #'''Returns a DataFrame of towns and the states they are in from the 
    #university_towns.txt list. The format of the DataFrame should be:
    #DataFrame( [ ["Michigan", "Ann Arbor"], ["Michigan", "Yipsilanti"] ], 
    #columns=["State", "RegionName"]  )
    
    #The following cleaning needs to be done:

    #1. For "State", removing characters from "[" to the end.
    #2. For "RegionName", when applicable, removing every character from " (" to the end.
    #3. Depending on how you read the data, you may need to remove newline character '\n'. '''
    data = pd.read_table('university_towns.txt', header = None)
    df = []
   
    for ind, row in data.iterrows():
        item = row[0] 
        if len(item.split("(")) == 2:
            city = item.split("(")[0][:-1]
            df.append([state_key, city])
        if len(item.split("[edit")) == 2:
            state_val = item.split("[edit")[0]
            try:
                state_key = list(states.keys())[list(states.values()).index(state_val)]
            except ValueError as err:
                print(err)
    df = pd.DataFrame(df, columns=["State", "RegionName"])
    
    return df

get_list_of_university_towns()

    State                    RegionName
0      AL                        Auburn
1      AL                      Florence
2      AL                  Jacksonville
3      AL                    Livingston
4      AL                    Montevallo
5      AL                          Troy
6      AL                    Tuscaloosa
7      AL                      Tuskegee
8      AK                     Fairbanks
9      AZ                     Flagstaff
10     AZ                         Tempe
11     AZ                        Tucson
12     AR                   Arkadelphia
13     AR                        Conway
14     AR                  Fayetteville
15     AR                     Jonesboro
16     AR                      Magnolia
17     AR                    Monticello
18     AR                  Russellville
19     AR                        Searcy
20     CA                        Angwin
21     CA                        Arcata
22     CA                      Berkeley
23     CA                         Chico
24     CA                     Claremont
25     CA                        Cotati
26     CA                         Davis
27     CA                        Irvine
28     CA                    Isla Vista
29     CA  University Park, Los Angeles
..    ...                           ...
474    VA                          Wise
475    VA                    Chesapeake
476    WA                    Bellingham
477    WA                        Cheney
478    WA                    Ellensburg
479    WA                       Pullman
480    WA  University District, Seattle
481    WV                        Athens
482    WV                    Buckhannon
483    WV                      Fairmont
484    WV                     Glenville
485    WV                    Huntington
486    WV                    Montgomery
487    WV                    Morgantown
488    WV                 Shepherdstown
489    WV                  West Liberty
490    WI                      Appleton
491    WI                    Eau Claire
492    WI                     Green Bay
493    WI                     La Crosse
494    WI                       Madison
495    WI                     Menomonie
496    WI                     Milwaukee
497    WI                       Oshkosh
498    WI                   Platteville
499    WI                   River Falls
500    WI                 Stevens Point
501    WI                      Waukesha
502    WI                    Whitewater
503    WY                       Laramie

[504 rows x 2 columns]

In [6]:
GDP = pd.read_excel('gdplev.xls', skiprows=5)
GDP = GDP[['Unnamed: 4','GDP in billions of chained 2009 dollars.1']]
GDP.columns = ['Time','GDP_Value']

def myfilter(x):
    t = x[1]['Time']
    if type(t) is str and int(t.split('q')[0])>2000:
        return True
    else:
        return False

ind = list(map(lambda x: myfilter(x), GDP.iterrows()))

   
GDP = GDP[ind]

In [7]:
def get_recession_start():
    start_point = []
    for i in range(2,len(GDP)-2):
        if (GDP.iloc[i][1] < GDP.iloc[i-1][1]) and (GDP.iloc[i-1][1] < GDP.iloc[i-2][1]) and (GDP.iloc[i][1] < GDP.iloc[i+1][1]) and (GDP.iloc[i+1][1] < GDP.iloc[i+2][1]):
            start_point.append(GDP.iloc[i-2][0])
    return start_point
        
get_recession_start()

['2008q4']

In [8]:
def get_recession_end():
    end_point = []
    for i in range(2,len(GDP)-2):
        if (GDP.iloc[i][1] < GDP.iloc[i-1][1]) and (GDP.iloc[i-1][1] < GDP.iloc[i-2][1]) and (GDP.iloc[i][1] < GDP.iloc[i+1][1]) and (GDP.iloc[i+1][1] < GDP.iloc[i+2][1]):
            end_point.append(GDP.iloc[i+2][0])
    return end_point
        
get_recession_end()

['2009q4']

In [9]:
def get_recession_bottom():
    bottom_point = []
    for i in range(2,len(GDP)-2):
        if (GDP.iloc[i][1] < GDP.iloc[i-1][1]) and (GDP.iloc[i-1][1] < GDP.iloc[i-2][1]) and (GDP.iloc[i][1] < GDP.iloc[i+1][1]) and (GDP.iloc[i+1][1] < GDP.iloc[i+2][1]):
            bottom_point.append(GDP.iloc[i][0])
    return bottom_point
        
get_recession_bottom()

['2009q2']

In [10]:
zip('a','b')

In [11]:
def convert_housing_data_to_quarters():
    House = pd.read_csv('City_Zhvi_AllHomes.csv')
    House = pd.concat( [House.loc[:,['State','RegionName']], House.loc[:,'2000-01':]], axis = 1)
    House.set_index(['State','RegionName'],inplace=False)
    col = list(House.columns)

    def new_col():
        year_quarter = []
        year = list(range(2000,2017))
        quarter = ['q1','q2','q3','q4']
        for y in year:
            for q in quarter:
                if y != 2016 or q != 'q4':
                    year_quarter.append((str(y)+q))

        return year_quarter

    qs = [list(House.columns)[x:x+3] for x in range(2, len(list(House.columns)),3)]

    new_col = new_col()


    for col, q in zip(new_col, qs):
        House[col] = House[q].mean(axis=1)

    House = House[['State','RegionName']+new_col]
    House.set_index(['State','RegionName'],inplace=True)
    
    return House

convert_housing_data_to_quarters()

                                 2000q1        2000q2        2000q3  \
State RegionName
NY    New York                      NaN           NaN           NaN
CA    Los Angeles          2.070667e+05  2.144667e+05  2.209667e+05
IL    Chicago              1.384000e+05  1.436333e+05  1.478667e+05
PA    Philadelphia         5.300000e+04  5.363333e+04  5.413333e+04
AZ    Phoenix              1.118333e+05  1.143667e+05  1.160000e+05
NV    Las Vegas            1.326000e+05  1.343667e+05  1.354000e+05
CA    San Diego            2.229000e+05  2.343667e+05  2.454333e+05
TX    Dallas               8.446667e+04  8.386667e+04  8.486667e+04
CA    San Jose             3.742667e+05  4.065667e+05  4.318667e+05
FL    Jacksonville         8.860000e+04  8.970000e+04  9.170000e+04
CA    San Francisco        4.305000e+05  4.644667e+05  4.835333e+05
TX    Austin               1.429667e+05  1.452667e+05  1.494667e+05
MI    Detroit              6.620000e+04  6.830000e+04  6.676667e+04
OH    Columbus             9.436667e+04  9.583333e+04  9.713333e+04
TN    Memphis              7.250000e+04  7.320000e+04  7.386667e+04
NC    Charlotte            1.269333e+05  1.283667e+05  1.302000e+05
TX    El Paso              7.626667e+04  7.686667e+04  7.673333e+04
MA    Boston               2.069333e+05  2.191667e+05  2.331000e+05
WA    Seattle              2.486000e+05  2.556000e+05  2.625333e+05
MD    Baltimore                     NaN           NaN           NaN
CO    Denver               1.622333e+05  1.678333e+05  1.743333e+05
DC    Washington           1.377667e+05  1.442000e+05  1.487000e+05
TN    Nashville            1.138333e+05  1.152667e+05  1.158667e+05
WI    Milwaukee            7.803333e+04  7.906667e+04  8.103333e+04
AZ    Tucson               1.018333e+05  1.029667e+05  1.044667e+05
OR    Portland             1.528000e+05  1.547667e+05  1.565667e+05
OK    Oklahoma City        7.643333e+04  7.750000e+04  7.856667e+04
NE    Omaha                1.128000e+05  1.141000e+05  1.167333e+05
NM    Albuquerque          1.258667e+05  1.267000e+05  1.264333e+05
CA    Fresno               9.410000e+04  9.526667e+04  9.646667e+04
...                                 ...           ...           ...
TX    Granite Shoals                NaN           NaN           NaN
MD    Piney Point          1.556667e+05  1.551667e+05  1.584667e+05
CA    Stinson Beach        9.974333e+05  1.120867e+06  1.247000e+06
WI    Maribel                       NaN           NaN           NaN
ID    Middleton            1.060667e+05  1.043333e+05  1.019000e+05
KY    Almo                 8.403333e+04  8.526667e+04  8.543333e+04
CO    Bennett              1.329000e+05  1.358333e+05  1.398000e+05
NH    East Hampstead       1.618000e+05  1.691000e+05  1.739667e+05
MO    Garden City                   NaN           NaN           NaN
AR    Mountainburg         5.716667e+04  6.433333e+04  6.783333e+04
TN    Ocoee                5.693333e+04  5.313333e+04  5.620000e+04
NY    Upper Brookville     1.230967e+06  1.230967e+06  1.237700e+06
HI    Volcano              9.870000e+04  1.053667e+05  1.146667e+05
SC    Wedgefield                    NaN           NaN           NaN
MI    Williamston          1.591667e+05  1.613000e+05  1.643000e+05
AR    Decatur              6.360000e+04  6.440000e+04  6.566667e+04
IN    Edgewood             9.170000e+04  9.186667e+04  9.293333e+04
TN    Palmyra                       NaN           NaN           NaN
MD    Saint Inigoes        1.480667e+05  1.476000e+05  1.572333e+05
IN    Marysville                    NaN           NaN           NaN
MO    Bois D Arc           1.078000e+05  1.070000e+05  1.071000e+05
VA    Henrico              1.285667e+05  1.307667e+05  1.322667e+05
NJ    Diamond Beach        1.739667e+05  1.831000e+05  1.889667e+05
PA    Plymptonville        4.706667e+04  4.993333e+04  5.256667e+04
      Highland Township    1.325000e+05  1.321333e+05  1.340333e+05
WI    Town of Wrightstown  1.017667e+05  1.054000e+05  1.113667e+05
NY    Urbana               7.920000e+04  8.166667e+04  9.170000e+04
WI    New Denmark          1.145667e+05  1.192667e+05  1.260667e+05
CA    Angels               1.510000e+05  1.559000e+05  1.581000e+05
NJ    Lebanon Borough      1.658000e+05  1.698333e+05  1.732667e+05

                                 2000q4        2001q1        2001q2  \
State RegionName
NY    New York                      NaN           NaN           NaN
CA    Los Angeles          2.261667e+05  2.330000e+05  2.391000e+05
IL    Chicago              1.521333e+05  1.569333e+05  1.618000e+05
PA    Philadelphia         5.470000e+04  5.533333e+04  5.553333e+04
AZ    Phoenix              1.174000e+05  1.196000e+05  1.215667e+05
NV    Las Vegas            1.370000e+05  1.395333e+05  1.417333e+05
CA    San Diego            2.560333e+05  2.672000e+05  2.762667e+05
TX    Dallas               8.783333e+04  8.973333e+04  8.930000e+04
CA    San Jose             4.555000e+05  4.706667e+05  4.702000e+05
FL    Jacksonville         9.310000e+04  9.440000e+04  9.560000e+04
CA    San Francisco        4.930000e+05  4.940667e+05  4.961333e+05
TX    Austin               1.557333e+05  1.612333e+05  1.607333e+05
MI    Detroit              6.703333e+04  6.753333e+04  6.836667e+04
OH    Columbus             9.826667e+04  9.940000e+04  1.002667e+05
TN    Memphis              7.400000e+04  7.416667e+04  7.493333e+04
NC    Charlotte            1.315667e+05  1.329333e+05  1.332000e+05
TX    El Paso              7.730000e+04  7.823333e+04  7.830000e+04
MA    Boston               2.425000e+05  2.496000e+05  2.570667e+05
WA    Seattle              2.674000e+05  2.710000e+05  2.724333e+05
MD    Baltimore                     NaN           NaN           NaN
CO    Denver               1.803333e+05  1.865000e+05  1.925333e+05
DC    Washington           1.477000e+05  1.497667e+05  1.551333e+05
TN    Nashville            1.169333e+05  1.180333e+05  1.191667e+05
WI    Milwaukee            8.233333e+04  8.403333e+04  8.556667e+04
AZ    Tucson               1.056667e+05  1.072000e+05  1.087667e+05
OR    Portland             1.574667e+05  1.599000e+05  1.618000e+05
OK    Oklahoma City        7.916667e+04  7.983333e+04  8.040000e+04
NE    Omaha                1.189000e+05  1.208667e+05  1.197667e+05
NM    Albuquerque          1.267333e+05  1.271000e+05  1.277333e+05
CA    Fresno               9.823333e+04  1.005667e+05  1.035667e+05
...                                 ...           ...           ...
TX    Granite Shoals                NaN           NaN           NaN
MD    Piney Point          1.637000e+05  1.634000e+05  1.648333e+05
CA    Stinson Beach        1.363000e+06  1.424133e+06  1.468167e+06
WI    Maribel                       NaN           NaN           NaN
ID    Middleton            1.041667e+05  1.061667e+05  1.083667e+05
KY    Almo                 8.556667e+04  8.710000e+04  8.843333e+04
CO    Bennett              1.446667e+05  1.483000e+05  1.521000e+05
NH    East Hampstead       1.805000e+05  1.909000e+05  1.950667e+05
MO    Garden City                   NaN           NaN           NaN
AR    Mountainburg         6.900000e+04  6.866667e+04  6.386667e+04
TN    Ocoee                6.113333e+04  6.160000e+04  6.543333e+04
NY    Upper Brookville     1.261567e+06  1.295167e+06  1.340033e+06
HI    Volcano              1.247667e+05  1.181333e+05  1.194000e+05
SC    Wedgefield                    NaN           NaN           NaN
MI    Williamston          1.662000e+05  1.664333e+05  1.686333e+05
AR    Decatur              6.673333e+04  6.720000e+04  6.770000e+04
IN    Edgewood             9.490000e+04  9.893333e+04  1.000667e+05
TN    Palmyra                       NaN           NaN           NaN
MD    Saint Inigoes        1.633667e+05  1.642333e+05  1.682000e+05
IN    Marysville                    NaN           NaN           NaN
MO    Bois D Arc           1.081000e+05  1.107000e+05  1.136667e+05
VA    Henrico              1.332667e+05  1.352333e+05  1.367333e+05
NJ    Diamond Beach        1.931333e+05  1.944000e+05  2.102667e+05
PA    Plymptonville        5.413333e+04  5.393333e+04  5.233333e+04
      Highland Township    1.349333e+05  1.382667e+05  1.432000e+05
WI    Town of Wrightstown  1.148667e+05  1.259667e+05  1.299000e+05
NY    Urbana               9.836667e+04  9.486667e+04  9.853333e+04
WI    New Denmark          1.319667e+05  1.438000e+05  1.469667e+05
CA    Angels               1.674667e+05  1.768333e+05  1.837667e+05
NJ    Lebanon Borough      1.772333e+05  1.803333e+05  1.838000e+05

                                 2001q3        2001q4        2002q1  \
State RegionName
NY    New York                      NaN           NaN           NaN
CA    Los Angeles          2.450667e+05  2.530333e+05  2.619667e+05
IL    Chicago              1.664000e+05  1.704333e+05  1.755000e+05
PA    Philadelphia         5.626667e+04  5.753333e+04  5.913333e+04
AZ    Phoenix              1.227000e+05  1.243000e+05  1.265333e+05
NV    Las Vegas            1.433667e+05  1.461333e+05  1.493333e+05
CA    San Diego            2.845000e+05  2.919333e+05  3.012333e+05
TX    Dallas               8.906667e+04  9.090000e+04  9.256667e+04
CA    San Jose             4.568000e+05  4.455667e+05  4.414333e+05
FL    Jacksonville         9.706667e+04  9.906667e+04  1.012333e+05
CA    San Francisco        5.041000e+05  5.134000e+05  5.204333e+05
TX    Austin               1.595333e+05  1.600333e+05  1.589667e+05
MI    Detroit              6.926667e+04  6.996667e+04  7.100000e+04
OH    Columbus             1.010667e+05  1.022000e+05  1.034000e+05
TN    Memphis              7.550000e+04  7.606667e+04  7.633333e+04
NC    Charlotte            1.328000e+05  1.331000e+05  1.343667e+05
TX    El Paso              7.743333e+04  7.680000e+04  7.660000e+04
MA    Boston               2.669333e+05  2.749667e+05  2.825000e+05
WA    Seattle              2.741333e+05  2.781667e+05  2.805000e+05
MD    Baltimore                     NaN           NaN           NaN
CO    Denver               1.964000e+05  1.991000e+05  2.012333e+05
DC    Washington           1.646333e+05  1.725333e+05  1.804667e+05
TN    Nashville            1.201000e+05  1.208000e+05  1.215667e+05
WI    Milwaukee            8.706667e+04  8.840000e+04  8.953333e+04
AZ    Tucson               1.105667e+05  1.128000e+05  1.150000e+05
OR    Portland             1.642667e+05  1.677667e+05  1.707667e+05
OK    Oklahoma City        8.113333e+04  8.173333e+04  8.260000e+04
NE    Omaha                1.178667e+05  1.174000e+05  1.180667e+05
NM    Albuquerque          1.285667e+05  1.299000e+05  1.310667e+05
CA    Fresno               1.072333e+05  1.103000e+05  1.140333e+05
...                                 ...           ...           ...
TX    Granite Shoals                NaN           NaN           NaN
MD    Piney Point          1.647000e+05  1.679000e+05  1.782667e+05
CA    Stinson Beach        1.375567e+06  1.275233e+06  1.244367e+06
WI    Maribel                       NaN           NaN           NaN
ID    Middleton            1.110333e+05  1.112333e+05  1.141000e+05
KY    Almo                 8.833333e+04  8.753333e+04  8.743333e+04
CO    Bennett              1.542333e+05  1.562000e+05  1.587333e+05
NH    East Hampstead       1.992667e+05  2.074000e+05  2.123000e+05
MO    Garden City                   NaN           NaN           NaN
AR    Mountainburg         6.376667e+04  6.546667e+04  6.533333e+04
TN    Ocoee                6.710000e+04  6.763333e+04  6.513333e+04
NY    Upper Brookville     1.403667e+06  1.481967e+06  1.536167e+06
HI    Volcano              1.232667e+05  1.211667e+05  1.233000e+05
SC    Wedgefield                    NaN           NaN           NaN
MI    Williamston          1.716667e+05  1.750333e+05  1.786667e+05
AR    Decatur              6.650000e+04  6.540000e+04  6.460000e+04
IN    Edgewood             1.008333e+05  1.010000e+05  1.021667e+05
TN    Palmyra                       NaN           NaN           NaN
MD    Saint Inigoes        1.665000e+05  1.653333e+05  1.673000e+05
IN    Marysville                    NaN           NaN           NaN
MO    Bois D Arc           1.126333e+05  1.127333e+05  1.130667e+05
VA    Henrico              1.386000e+05  1.413333e+05  1.435333e+05
NJ    Diamond Beach        2.302333e+05  2.486667e+05  2.599333e+05
PA    Plymptonville        4.926667e+04  5.396667e+04  5.226667e+04
      Highland Township    1.433667e+05  1.427333e+05  1.420333e+05
WI    Town of Wrightstown  1.299000e+05  1.294333e+05  1.319000e+05
NY    Urbana               1.029667e+05  9.803333e+04  9.396667e+04
WI    New Denmark          1.483667e+05  1.491667e+05  1.531333e+05
CA    Angels               1.902333e+05  1.845667e+05  1.840333e+05
NJ    Lebanon Borough      1.882667e+05  1.918667e+05  1.933667e+05

                                 2002q2      ...             2014q2  \
State RegionName                             ...
NY    New York                      NaN      ...       5.151000e+05
CA    Los Angeles          2.727000e+05      ...       4.982667e+05
IL    Chicago              1.775667e+05      ...       1.881333e+05
PA    Philadelphia         6.073333e+04      ...       1.145667e+05
AZ    Phoenix              1.283667e+05      ...       1.663000e+05
NV    Las Vegas            1.509333e+05      ...       1.689667e+05
CA    San Diego            3.128667e+05      ...       4.745667e+05
TX    Dallas               9.380000e+04      ...       1.053000e+05
CA    San Jose             4.577667e+05      ...       6.814333e+05
FL    Jacksonville         1.034333e+05      ...       1.189333e+05
CA    San Francisco        5.381667e+05      ...       9.261333e+05
TX    Austin               1.575000e+05      ...       2.473000e+05
MI    Detroit              7.233333e+04      ...       3.523333e+04
OH    Columbus             1.048000e+05      ...       1.041000e+05
TN    Memphis              7.676667e+04      ...       6.920000e+04
NC    Charlotte            1.353667e+05      ...       1.495667e+05
TX    El Paso              7.640000e+04      ...       1.115333e+05
MA    Boston               2.893000e+05      ...       4.223667e+05
WA    Seattle              2.846000e+05      ...       4.415333e+05
MD    Baltimore                     NaN      ...       1.109333e+05
CO    Denver               2.024333e+05      ...       2.651333e+05
DC    Washington           1.933000e+05      ...       4.477333e+05
TN    Nashville            1.226333e+05      ...       1.613333e+05
WI    Milwaukee            9.136667e+04      ...       9.206667e+04
AZ    Tucson               1.172000e+05      ...       1.423333e+05
OR    Portland             1.741000e+05      ...       2.831000e+05
OK    Oklahoma City        8.343333e+04      ...       1.151000e+05
NE    Omaha                1.176333e+05      ...       1.301667e+05
NM    Albuquerque          1.321000e+05      ...       1.623667e+05
CA    Fresno               1.185333e+05      ...       1.713000e+05
...                                 ...      ...                ...
TX    Granite Shoals                NaN      ...       1.118333e+05
MD    Piney Point          1.812000e+05      ...       2.828333e+05
CA    Stinson Beach        1.145100e+06      ...       2.243067e+06
WI    Maribel                       NaN      ...       1.280333e+05
ID    Middleton            1.141667e+05      ...       1.434667e+05
KY    Almo                 9.123333e+04      ...       1.211667e+05
CO    Bennett              1.606333e+05      ...       1.508000e+05
NH    East Hampstead       2.122333e+05      ...       2.525667e+05
MO    Garden City                   NaN      ...       1.051000e+05
AR    Mountainburg         6.600000e+04      ...       8.043333e+04
TN    Ocoee                6.770000e+04      ...       1.301333e+05
NY    Upper Brookville     1.562033e+06      ...       1.715767e+06
HI    Volcano              1.169000e+05      ...       1.910667e+05
SC    Wedgefield                    NaN      ...       8.096667e+04
MI    Williamston          1.793333e+05      ...       1.599000e+05
AR    Decatur              6.490000e+04      ...       8.696667e+04
IN    Edgewood             1.017667e+05      ...       9.883333e+04
TN    Palmyra                       NaN      ...       1.218667e+05
MD    Saint Inigoes        1.688000e+05      ...       2.932333e+05
IN    Marysville                    NaN      ...       1.164333e+05
MO    Bois D Arc           1.154333e+05      ...       1.395333e+05
VA    Henrico              1.461333e+05      ...       1.998000e+05
NJ    Diamond Beach        2.656333e+05      ...       3.822333e+05
PA    Plymptonville        5.006667e+04      ...       4.020000e+04
      Highland Township    1.433333e+05      ...       2.248000e+05
WI    Town of Wrightstown  1.342000e+05      ...       1.479667e+05
NY    Urbana               9.460000e+04      ...       1.264333e+05
WI    New Denmark          1.567333e+05      ...       1.684000e+05
CA    Angels               1.861333e+05      ...       2.146333e+05
NJ    Lebanon Borough      2.008000e+05      ...       2.330667e+05

                                 2014q3        2014q4        2015q1  \
State RegionName
NY    New York             5.189667e+05  5.224333e+05  5.237333e+05
CA    Los Angeles          5.093000e+05  5.179667e+05  5.266667e+05
IL    Chicago              1.902333e+05  1.937333e+05  1.948000e+05
PA    Philadelphia         1.158667e+05  1.166000e+05  1.167333e+05
AZ    Phoenix              1.675333e+05  1.705000e+05  1.732667e+05
NV    Las Vegas            1.715667e+05  1.746333e+05  1.776000e+05
CA    San Diego            4.813000e+05  4.862333e+05  4.934333e+05
TX    Dallas               1.071667e+05  1.099333e+05  1.124667e+05
CA    San Jose             7.015333e+05  7.186667e+05  7.373333e+05
FL    Jacksonville         1.193000e+05  1.204667e+05  1.221667e+05
CA    San Francisco        9.546333e+05  9.743000e+05  1.005200e+06
TX    Austin               2.516333e+05  2.573667e+05  2.643000e+05
MI    Detroit              3.510000e+04  3.536667e+04  3.440000e+04
OH    Columbus             1.057000e+05  1.068333e+05  1.081333e+05
TN    Memphis              7.053333e+04  7.206667e+04  7.083333e+04
NC    Charlotte            1.502000e+05  1.526000e+05  1.551000e+05
TX    El Paso              1.115333e+05  1.115000e+05  1.114000e+05
MA    Boston               4.299667e+05  4.380667e+05  4.485000e+05
WA    Seattle              4.514667e+05  4.588667e+05  4.710667e+05
MD    Baltimore            1.110667e+05  1.096000e+05  1.100333e+05
CO    Denver               2.750333e+05  2.866667e+05  2.978000e+05
DC    Washington           4.565667e+05  4.624667e+05  4.675000e+05
TN    Nashville            1.635333e+05  1.677667e+05  1.724667e+05
WI    Milwaukee            9.260000e+04  9.263333e+04  9.496667e+04
AZ    Tucson               1.429333e+05  1.442667e+05  1.442000e+05
OR    Portland             2.889000e+05  2.971667e+05  3.047667e+05
OK    Oklahoma City        1.153667e+05  1.160667e+05  1.173000e+05
NE    Omaha                1.305333e+05  1.326000e+05  1.330667e+05
NM    Albuquerque          1.632333e+05  1.642000e+05  1.659000e+05
CA    Fresno               1.748667e+05  1.789000e+05  1.804667e+05
...                                 ...           ...           ...
TX    Granite Shoals       1.112667e+05  1.113000e+05  1.127000e+05
MD    Piney Point          2.922333e+05  2.829667e+05  2.727000e+05
CA    Stinson Beach        2.432533e+06  2.587300e+06  2.651133e+06
WI    Maribel              1.280667e+05  1.286333e+05  1.299333e+05
ID    Middleton            1.463667e+05  1.480000e+05  1.492000e+05
KY    Almo                 1.243667e+05  1.243000e+05  1.239333e+05
CO    Bennett              1.595000e+05  1.681667e+05  1.775667e+05
NH    East Hampstead       2.536000e+05  2.552333e+05  2.582000e+05
MO    Garden City          1.047667e+05  1.067667e+05  1.092333e+05
AR    Mountainburg         8.153333e+04  8.376667e+04  8.426667e+04
TN    Ocoee                1.332333e+05  1.327000e+05  1.315000e+05
NY    Upper Brookville     1.723433e+06  1.761667e+06  1.793633e+06

In [29]:
def run_ttest():

    df = get_list_of_university_towns()
    House = convert_housing_data_to_quarters()

    Resession = House.loc[:,'2008q3':'2009q2']

    Resession = Resession.reset_index()
    x = Resession['State'].isin(df['State'])
    y = Resession['RegionName'].isin(df['RegionName'])
    z=[a and b for a, b in zip(x,y)]
    Utown=Resession.loc[z]
    notz = [not zz for zz in z]
    NotUtown=Resession.loc[notz]

    def price_ratio(row):
        return (row['2008q3']-row['2009q2'])/row['2008q3']
    Utown['price_ratio'] = Utown.apply(price_ratio,axis=1)
    NotUtown['price_ratio'] = NotUtown.apply(price_ratio,axis=1)
    Utown_ratio= Utown['price_ratio'].dropna()
    NotUtown_ratio = NotUtown['price_ratio'].dropna()
    p_value = list(ttest_ind(Utown_ratio, NotUtown_ratio))[1]

    def better():
        if Utown_ratio.mean() > NotUtown_ratio.mean():
            return 'Utown has higher average house prices'
        if Utown_ratio.mean() == NotUtown_ratio.mean():
            return 'Utown and not Utown have the same average house prices'
        else:
            return 'NotUtown has higher average house prices'

    def Reject():
        if p_value < 0.01:
            return 'True'
        else:
            return 'False'

    result = (Reject(),p_value,better())

    return result

run_ttest()

C:\Users\ylin\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\ylin\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

('True', 0.0016698164996046486, 'NotUtown has higher average house prices')